.card-result {
  max-width: 32.7rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 1.5rem;
  padding: 3.4rem;
}

.mobile {
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 2.9rem;
}

.selected-div {
  padding: 0.5rem 1.2rem;
  border-radius: 2.2rem;
  background: #262e38;
  color: #fc7614;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.thanks {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.comment-result {
  color: #969fad;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

@media screen and (min-width: 1440px) {
  .card-result {
    max-width: 41.2rem;
    border-radius: 3rem;
    padding: 4rem;
  }

  .mobile {
    width: 16.2rem;
    margin-bottom: 3.6rem;
  }

  .selected-div {
    padding: 1rem 1.2rem;
    margin-bottom: 3.6rem;
  }
  .thanks {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }

  .comment-result {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
